<h1>CarNumberDb#index</h1>

<p>
  <% @carNumbers.each do |carNumber| %>
    [car_num] <%= carNumber.car_num %>, [owner_name] <%= carNumber.owner_name %><br />
  <% end %>
</p>

<%= link_to 'TOP', top_index_path %>

<p>Find me in app/views/car_number_db/index.html.erb</p>
